@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One&display=swap');

:root {
	--one-space: 12px;
	--one-width: 4px;
	--primary: #000000;
	--accent: #229989;
	--highlight: #92ffaaf8;
	--highlight-2: #9fbdfff8;
	--transition: all 0.3s ease;
	font-size: 16px;
}

body {
	box-sizing: border-box;
	margin: var(--one-space);
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: var(--primary);
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

p {
	margin: 0.5em 0;
}

h1, h2, h3, h4 {
	font-family: 'Poiret One', serif;
	margin: calc(2 * var(--one-space)) 0;
}

button, input[type="submit"] {
	font-size: 1rem;
	background: transparent;
	margin: var(--one-space) 0;
	border: var(--one-width) solid var(--highlight);
	transition: var(--transition);
}

button:hover, button:focus, input[type="submit"]:hover, input[type="submit"]:focus { 
	outline: none;
	border-color: var(--highlight-2);
	background-color: var(--highlight);
	color: white;
	cursor: pointer;
}

input[type="text"], input[type="password"], input[type="email"], select {
	width: calc(var(--one-space) * 20);
	font-size: 1.2rem;
	margin-left: var(--one-space);
}

input[type="number"] {
	font-size: 1.2rem;
	margin-left: var(--one-space);
}

label {
	font-size: 1.2rem;
	display: block;
	margin: var(--one-space) 0;
}

@keyframes busy {
	0% {
		background: var(--highlight);
	}
	50% {
		background: var(--highlight-2);
	}
	100% {
		background: var(--highlight);
	}
}

form:before, form:after {
	content: '';
	display: block;
	height: var(--one-space);
}

form[aria-busy="true"]:before {
	content: '';
	display: block;
	opacity: 0.4;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: calc(3 * var(--one-space));
	animation: busy 1s ease infinite;
}

form[aria-busy="true"]:after {
	content: '';
	display: block;
	opacity: 0.4;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: calc(3 * var(--one-space));
	animation: busy 1s ease infinite;
}

fieldset {
	border: none;
	margin: calc(2 * var(--one-space)) 0;
	padding: 0;
}

legend {
	margin: var(--one-space) 0;
	font-family: 'Poiret One', serif;
	font-size: 2.5rem;
}

a {
	cursor: pointer;
	color: var(--primary);
	text-decoration: none;
	padding: calc (var(--one-space) / 2) 0;
	border-bottom: var(--one-width) solid var(--highlight-2);
	transition: var(--transition);
}

a:hover {
	letter-spacing: 0.5px;
	border-bottom-color: var(--highlight);
}

section#equipment h2, 
section#skills h2, 
section#proficiencies h2, 
section#features h2, 
section#spells h2 {
	margin-top: 0;
}

section#equipment h2, 
section#skills h2, 
section#proficiencies h2, 
section#features h2, 
section#spells h2,
section#equipment h3, 
section#skills h3, 
section#proficiencies h3, 
section#features h3, 
section#spells h3,
section#equipment h4, 
section#skills h4, 
section#proficiencies h4, 
section#features h4, 
section#spells h4 {
	padding-bottom: var(--one-width);
	width: max-content;
	border-bottom: var(--one-width) solid var(--highlight-2);
}